<div id="landing">
  <div class="container">
    <section class="main-search">
      <h2>Marketplace for buyers and sellers who love cars</h2>
      <h3></h3>
      <h1>Find your next car here</h1>
      <div>
        <app-main-search></app-main-search>
      </div>
    </section>
    <section class="market-status">
      <h3>Market status</h3>
    </section>
    <section class="continue-search"></section>
    <section class="selling"></section>
    <section class="car-body-type"></section>
    <section class="most-popular"></section>
    <section class="popular-makes"></section>
  </div>
</div>

