@import "../../../variables";

#landing {
  .main-search {
    padding-top: 160px;
    padding-bottom: 200px;

    h1 {
      margin-top: 32px;
    }

    h1, h2 {
      text-align: center;
    }
  }

  .market-status {
    padding-top: 24px;
    padding-bottom: 76px;

    h3 {
      margin-bottom: 36px;
    }
  }

  .continue-search {
    h3 {
      font-size: 1.1rem;
    }

    padding-bottom: 100px;
  }

  .selling {
    padding-bottom: 140px;

    .tabs-wrapper {
      display: flex;
      justify-content: center;
    }

    ::ng-deep {
      .slider-container {
        padding-bottom: 100px;
      }
    }

  }

  .car-body-type {
    padding-bottom: 140px;
    .subtitle {
      padding-bottom: 24px;
      padding-top: 12px;
      font-weight: 600;
    }
  }

  .most-popular {
    padding-bottom: 100px;
    ::ng-deep {
      .slider-container {
        padding-bottom: 100px;
      }
    }
  }
  .popular-makes {
    padding-bottom: 74px;
  }


  //--------------------------------------
  .section-title {
    font-size: 2.9rem;
    margin-bottom: 26px;
  }

  .small-card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    box-shadow: $box-shadow;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    img {
      -webkit-border-radius: 6px 6px 0 0;
      -moz-border-radius: 6px 6px 0 0;
      border-radius: 6px 6px 0 0;
      width: 100%;
      height: auto;
    }

    .title {
      padding: 12px;
      width: 100%;
      display: block;
      text-align: center;
      color: $text-color-gray;

      &.left {
        text-align: left;
      }
    }

    .subtitle {
      padding: 0 12px 12px 12px;
      width: 100%;
      display: block;
      text-align: center;
      color: $color-dark;

      &.left {
        text-align: left;
      }
    }

    .hover-visible-data {
      position: absolute;
      bottom: 0;
      opacity: 0;
      transition: .25s;
      border-top: 1px solid $color-gray;
      background: #FFFFFF;
      padding: 24px;
      text-align: center;
      width: 100%;
      transform: translateY(95%);
      -webkit-border-radius: 0 0 6px 6px;
      -moz-border-radius: 0 0 6px 6px;
      border-radius: 0 0 6px 6px;
      box-shadow: $box-shadow;
    }

    &:hover {
      cursor: pointer;

      .hover-visible-data {
        opacity: 1;
      }
    }
  }

  i.left-padding {
    padding-left: 16px;
  }

  i.right-padding {
    padding-right: 24px;
    font-size: 24px;
  }

  .title-right-action {
    cursor: pointer;
    float: right;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    top: 24px;

    i {
      padding-left: 24px;
    }
  }
}
