@import "../../../../variables";

.main-search-wrapper {
  padding-top: 20px;
  margin: 0 8%;

  .main-search__header {
    text-align: right;
    font-size: 13px;
    color: $text-color-gray;
    font-weight: 500;
    padding: 0 32px 12px 0;
  }

  .main-search__content {
    background: #FFFFFF;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .vertical-divider {
      max-width: 2px;
      width: 2px;
      height: 28px;
      margin-left: 18px;
      background: $color-gray;
    }

    ::ng-deep {
      .main-search-dropdown-city,
      .main-search-dropdown-car {
        box-shadow: none;
      }

      .main-search-dropdown-city {
        max-width: 380px;
        width: 100%;
      }

      .main-search-dropdown-car {
        max-width: 268px;
        width: 100%;

        .toggle {
          padding-right: 0 !important;
        }

        input {
          width: 100%;
          padding-right: 0 !important;
        }
      }
    }

    .main-search__number-input {
      font-size: 20px;
      background: transparent;
      border: none;
      outline: none;
      padding: 12px 24px;
      cursor: pointer;
      font-weight: 500;
      max-width: 168px;
    }
  }

  .am-btn-icon {
    max-width: 168px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 0 6px 6px 0;
    padding: 19px 32px;
  }

  .price-block {
    padding-left: 24px;
  }

}

