@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "../variables";
/* text styles */

h1 {
  font-size: 4rem;
  letter-spacing: 3px;
}

h2 {
  font-size: 1.7rem;
  font-weight: 550;
}

h3 {
  font-size: 1.35rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: $color-dark;
}
