@import "../../../../variables";

.slider-timeout-wrapper {
  .content-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 500px;
    background: #FFFFFF;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: $box-shadow;
    flex-wrap: nowrap;
    overflow: hidden;
    transition: .25s;
  }

  .steps {
    display: flex;
    justify-content: center;

    .step {
      width: 8px;
      height: 8px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: #DFDFDF;
      margin: 24px 8px;
      cursor: pointer;

      &.active {
        background: $primary-color;
      }
    }
  }

  @media screen and (max-width: 1480px) {
    height: 38vw;
  }

  ::ng-deep {
    img {
      width: 100%;
      min-width: 100%;
      height: 100%;
      display: inline-block;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
    }
  }
}
