@import "variables";
@import "styles/font";

body {
  background: #FAFAFA;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: calc(1920px - 650px);
  margin: 0 auto;
  position: relative;
}

.am-btn {
  border: 1px solid transparent;
  padding: 24px 52px;
  background: #222;
  color: #FFF;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: .25s;

  &-icon {
    display: flex;
    justify-content: flex-start;
    padding-left: 32px;

    i {
      font-size: 18px;
      position: relative;
      top: 2px;
      padding: 0 12px 0 0 ;
    }
  }

  &-primary {
    background: $primary-color;
    border-color: $primary-color;

    &:hover {
      background: $primary-color__hover;
      border-color: $primary-color__hover;
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
